.tag {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    color: var(--color-2);
    cursor: pointer;
    background-color: var(--color-4);
    border: 2px solid;
    border-color: transparent;
    border-radius: 30px;
    transition: border-color 0.1s ease;

    &:hover {
        border-color: var(--color-6);
    }

    &[data-active='true'] {
        border-color: var(--color-3);
    }

    & svg {
        --size: 24px;

        width: var(--size);
        height: var(--size);
        margin-right: 5px;
    }
}
